@charset "UTF-8";

.page-main{
	padding-bottom:20px;
}
.page-main a{
	font-size:22px;
	padding-right:100px;
	padding-bottom:20px;	
}
.mainOne{
	text-align: center; 
	width:1024px; 
	margin: 0 auto;
}
.card{
	width: 200px;
	height: 200px;
   	border-radius: 25px;
   	box-shadow : 0 5px 25px rgb(0 0 0 / 15%);
}
.card-header{
	float:left; 
	text-align:center;
} 

.card-ul{
	text-align:left;
}
.card-ul li{
	text-align:left;

}
.card-ul li img{
	display:inline-block; 
  	margin : 0 auto ;
}
