<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.offclass.dao.OffclassMapper"> 
	<insert id="insertListOffTime" parameterType="list">
		INSERT INTO off_timetable(
							time_num,
							off_num,
							time_date,
							time_start,
							time_end)
							VALUES
						<foreach collection="list" item="item" index="index">
						(
							off_timetable_seq.nextval,
							#{item.off_num},
							#{item.time_date},
							#{item.time_start},
							#{item.tiem_end}
						)
						</foreach>
	</insert>

</mapper>







